body {
	background-color: #3d3940;
	max-width: 75%;
	margin: 0 auto;
}
h1 {
	font-family: "Suez One";
	color: white;

}
#why {
	background-color: #6e5a7f;
	font-family: Amiko;
	font-size: 1.3rem;
	color: #fbf473;
	padding-left: 20px;
	line-height: 50px;
	border: 5px solid white;
	border-radius: 25px;
}
#how {
	background-color: #668cac;
	font-family: "Arima Madurai";
	font-size: 1rem;
	color: #362f2d;
	padding-right: 15px;
	padding-left: 80px;
	line-height: 27px;
	border: 5px dotted white;
	border-radius: 100px;

}
#when {
	background-color: #66ac85;
	font-family: Farsan;
	font-size: .5rem;
	color: #7a0026;
	padding: 80px;
	line-height: 15px;
	border: 5px solid white;
	border-radius: 50%;
}
#stop {
	background-color: #b2507e;
	font-family: Rasa;
	font-size: 15px;
	color: #003663;
	padding: 100px;
	line-height: 25px;
	border: 5px solid white;
	border-radius: 25%;

}
#survive {
	background-color: #b7b7b7;
	font-family: "Yatra One";
	font-size: 12px;
	color: black;
	padding: 200px;
	line-height: 10px;
	border: 5px solid white;
	border-radius: 100%;
}