body {
	background-color: #3d3940;
}
h1 {
	font-family: "Suez One";
	color: white;
}
#why {
	background-color: #6e5a7f;
}
#how {
	background-color: #668cac;
}
#when {
	background-color: #66ac85;
}
#stop {
	background-color: #b2507e;
}
#survive {
	background-color: #b7b7b7;
}